* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    min-height: 100vh;
    position: relative;
}

.logInContainer {
    min-height: 100vh;
    display: flex;
    flex-grow: 0;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.pageImageContainer {
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1525498128493-380d1990a112?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    justify-content: flex-end;
    width: 40%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 63%;
    height: 300px;
    margin-top: 20px;
}

.lblStyle {
    font-size: 18px;
}

.email {
    width: 120%;
    height: 10px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.password {
    width: 120%;
    height: 10px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.forgotPsswdLink {
    margin-left: 50px;
    font-size: 13px;
    color: #0C2A92;
    text-decoration: none;
}

.passwordContainer {
    margin-top: 20px;
}

.checkbox {
    margin-top: 20px;
}

.checkboxLbl {
    font-size: 13px;
}

.logInBtnContainer {
    margin-top: 20px;
}

.logInBtn {
    color: white;
    background-color: #3A5B22;
    font-size: 18px;
    width: 130%;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.line {
    height: 0px;
    border: 1px solid #F5F5F5;
    width: 38%;
    margin-top: 10px;
}

.orSide {
    display: flex;
}

.GoogleLogo {
    width: 50px;
}

.googleLogInLink {
    text-decoration: none;
}

.googleLogInBtn {
    display: flex;
    background-color: white;
    width: 155px;
    border: 1px solid #D9D9D9;    
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}

.signInTxt {
    margin-top: 12px;
    font-size: 10px;
}

.AppleLogo {
    width: 25px;
    margin-left: 16px;
    margin-top: 5px;
}

.sugVariantsLogIn {
    display: flex;
    margin-top: 30px;
}

.appleLogInBtn {
    height: 40px;
    margin-left: 50px;
}

.appleText {
    margin-left: 10px;
}

.signUpTxtContainer {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    margin-top: 20px;
    width: 85%;
}

.signUpLink {
    color: #0F3DDE;
    text-decoration: none;
    margin-left: 5px;
}

@media screen and (max-width:600px) {
    .welcomeTxt {
        font-size: 10px;
        width: 50%;
    }

    .email {
        width: 60%;
    }

    .password {
        width: 60%;
    }

    .logInBtn {
        width: 60%;
    }

    .sugVariantsLogIn {
        display: block;
    }

    .signUpTxtContainer {
        display: block;
    }

    .otherVarLogIn {
        margin-top: 50px;
    }
    .forgotPsswdLink {
        margin-left: 20px;
    }
    .forgotPsswdStyle {
        font-size: 10px;
    }

    .appleLogInBtn {
        margin-left: 5px;
    }
}