* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

.logInContainer {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.mainLogIn { 
    height: 100vh;
}

.pageImageContainer {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    height: 100vh;
    object-fit: cover;
}

.mainImg {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 63%;
    height: 300px;
    margin-top: 20px;
}

.lblStyle {
    font-size: 18px;
}


#email {
    width: 120%;
    height: 10px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}


.forgotPsswdLink {
    margin-left: 50px;
    font-size: 13px;
    color: #0C2A92;
    text-decoration: none;
}

.passwordContainer {
    margin-top: 20px;
}

.checkbox {
    margin-top: 20px;
}

.checkboxLbl {
    font-size: 13px;
}

.logInBtnContainer {
    margin-top: 20px;
}

.logInBtnLink {
    text-decoration: none;
}

.logInBtn {
    color: white;
    background-color: #3A5B22;
    font-size: 18px;
    width: 130%;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.line {
    height: 0px;
    border: 1px solid #F5F5F5;
    width: 38%;
    margin-top: 10px;
}

.orSide {
    display: flex;
}

.GoogleLogo {
    width: 50px;
}

.googleLogInLink {
    text-decoration: none;
}

.googleLogInBtn {
    display: flex;
    background-color: white;
    width: 155px;
    border: 1px solid #D9D9D9;    
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}

.signInTxt {
    margin-top: 12px;
    font-size: 10px;
}

.AppleLogo {
    width: 25px;
    margin-left: 16px;
    margin-top: 5px;
}

.sugVariantsLogIn {
    display: flex;
    margin-top: 30px;
}

.appleLogInBtn {
    height: 40px;
    margin-left: 50px;
}

.appleText {
    margin-left: 10px;
}

.signUpTxtContainer {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    margin-top: 20px;
    width: 85%;
}

.signUpLink {
    color: #0F3DDE;
    text-decoration: none;
    margin-left: 5px;
}